.home-main {
    display: grid;
    grid-template-rows: auto auto auto;
}
.box-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
}

.search-bar {
    display: flex;
    align-items: flex-start;
    padding: 2rem;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links-container > span {
    min-width: 60px;
}
